<div class="container mt-5">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Var</th>
        <th>Pipe Type</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ name }}</td>
        <td>uppercase</td>
        <td>{{ name | uppercase }}</td>
      </tr>
      <tr>
        <td>{{ name }}</td>
        <td>lowercase</td>
        <td>{{ name | lowercase }}</td>
      </tr>
      <tr>
        <td>{{ name }}</td>
        <td>slice:4</td>
        <td>{{ name | slice:4 }}</td>
      </tr>
      <tr>
        <td>{{ name }}</td>
        <td>slice:4:8</td>
        <td>{{ name | slice:4:8 }}</td>
      </tr>
      <tr>
        <td>{{ numArray }}</td>
        <td>Array slice:0:5</td>
        <td>{{ name | slice:0:5 }}</td>
      </tr>
      <tr>
        <td>{{ PI }}</td>
        <td>number:'1.2-3'</td>
        <td>{{ PI | number:'1.2-3' }}</td>
      </tr>
      <tr>
        <td>{{ percentage }}</td>
        <td>percent:'2.2-3'</td>
        <td>{{ percentage | percent:'2.2-3' }}</td>
      </tr>
      <tr>
        <td>{{ salary }}</td>
        <td>currency:'EUR'</td>
        <td>{{ salary | currency }}</td>
      </tr>
      <tr>
        <td>{{ salary }}</td>
        <td>currency</td>
        <td>{{ salary | currency:'EUR' }}</td>
      </tr>
      <tr>
        <td>{{ salary }}</td>
        <td>currency:'EUR':false</td>
        <td>{{ salary | currency:'EUR':false }}</td>
      </tr>
      <tr>
        <td>{{ salary }}</td>
        <td>number:'.2-2'</td>
        <td>{{ salary | number:'.2-2' }}</td>
      </tr>
      <tr>
        <td>{{ promiseValue }}</td>
        <td>async</td>
        <td>{{ promiseValue | async }}</td>
      </tr>
    </tbody>
  </table>

  <h4>Slice in ngFor</h4>
  <ul>
      <li *ngFor="let item of numArray | slice:5:10">
        {{ item }}
      </li>
  </ul>
  <h4>Json Pipe</h4>
  <pre> {{ persona | json }} </pre>

</div>
